__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/
.venv/
env/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.DS_Store
.private/
.napari-code-assistant-index/
coverage.xml
